.git
.gitignore
.dockerignore

target/
logs/
build/
dist/
assets/

.idea/
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated/
.sts4-cache/
*.iml
*.iws
*.ipr

*.log
*.tmp
*.swp
*.bak

.DS_Store
Thumbs.db
